@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');


.bg {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(18% 28% at 24% 50%, #C3C3C3B0 7%, #073AFF00 100%), radial-gradient(18% 28% at 18% 71%, #DADADA9C 6%, #073AFF00 100%), radial-gradient(70% 53% at 36% 76%, #DADADA9C 0%, #073AFF00 100%), radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(42% 53% at 34% 72%, #C3C3C3B0 0%, #073AFF00 100%), radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%), radial-gradient(35% 56% at 91% 74%, #DADADA9C 9%, #073AFF00 100%), radial-gradient(74% 86% at 67% 38%, #DADADA9C 24%, #073AFF00 100%), linear-gradient(180deg, #FFFFFF 1%, #DADADA 48%, #FFFFFFFF 100%);
}

/* .bg {
  background-color: black
} */

nav {
  width: 100%;
  transition: all 750ms ease-in-out;
  position: fixed;
  z-index: 10;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


@keyframes pulse {

  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: #26FF0082;
    /* Change to your desired border color */
  }
}

.animate-pulse {
  animation: pulse .7s infinite;
}