@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

@keyframes pulse {

  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: #26FF0082;
  }
}

.animate-pulse {
  animation: pulse .7s infinite;
}

/* .loading-container {
  animation: loading 2s linear infinite;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    background-position: -200% 0;

  }

  100% {
    background-position: 200% 0;
  }
} */